---
---

@charset "utf-8";

@use "sass:color";
@use "sass:math";

// Our variables
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   100%;  // 16px by default
$small-font-size:  0.9rem;
$base-line-height: 1.64;

$spacing-unit:     32px;
$content-width:    800px;

$text-color:        #414141;
$dark-text-color:   #333;
$background-color:  #fff;
$brand-color:       #00693e;
$yellow-color:      #ffc000;
$link-color:        #00693e;
// $link-color:        #3477ad;
$header-background: #00693e;
$footer-background: #00693e;
$footer-text:       color.adjust(#fff, $lightness: -10%);

$grey-color:       #6b6b6b;
$grey-color-lightest: #f8f8f8;
$grey-color-dark:  color.adjust($grey-color, $lightness: -15%);
$grey-color-light:  color.adjust($grey-color, $lightness: 15%);

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
// Using @import for now as it allows variables to be shared with partials
@import
  "base",
  "layout",
  "nav",
  "footer",
  "headings",
  "home",
  "publications",
  "projects",
  "talks",
  "blog",
  "syntax-highlighting",
  "cv"
;
