{%- comment -%}
  Usage:
    {% include teaching.html course=course %}
  Expects fields like:
    course.course
    course.date         (e.g. "Fall 2026", "Spring 2025", "2024")
    course.url          (optional)
{%- endcomment -%}

<tr>
  <td class="date">
    {%- if course.date and course.date != "" -%}
      {{ course.date }}
    {%- else -%}
      in the future
    {%- endif -%}
  </td>

  <td>
    {%- if course.url and course.url != "" -%}
      <a href="{{ course.url }}">{{ course.course }}</a>
    {%- else -%}
      {{ course.course }}
    {%- endif -%}
  </td>
</tr>